NEXT_PUBLIC_SUPABASE_URL=https://zcdnlkisrqeumistvlay.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjZG5sa2lzcnFldW1pc3R2bGF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2OTM2NTgsImV4cCI6MjA4MDI2OTY1OH0.Y6ksu9zL1GIBPfD0cKEluQq0UOaD-_vDzh7MNU4skNk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjZG5sa2lzcnFldW1pc3R2bGF5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDY5MzY1OCwiZXhwIjoyMDgwMjY5NjU4fQ.vCqKETo49Ec7ghT36V96q5Ai0AVRycMyKqUOKLNyHmk
